
.jplayer-container {
	display:inline-block;
}
.jplayer-container .cp-title {
	width:230px;
	margin:auto;
	position:relative;
	top:50px;
	left: -75px;
}
.jplayer-container .cp-title .title {
	background:#998E63;
	border-radius:10px;
	padding: 2px 7px 1px;
	display:inline-block;
	border:1px solid #D3CFA2;
	color:#8B875C;
	color:white;
	font-style:italic;
}

.cp-container.court {
	width:106px;
	height:106px;
	background-image:url("fond-jplayer.png");
	padding: 0px;
}

.cp-container.court_80 {
	width:80px;
	height:80px;
	background-image:url("img_80/fond.png");
	padding: 0px;
}

.court_80 .cp-buffer-1,
.court_80 .cp-buffer-2,
.court_80 .cp-progress-1,
.court_80 .cp-progress-2 {
	width:78px;
	height:78px;
	clip:rect(0px,39px,78px,0px);
	-moz-border-radius:36px;
	-webkit-border-radius:39px;
	border-radius:39px;
}
.court_80 .cp-buffer-1,
.court_80 .cp-buffer-2 {
	background:url("img_80/buffer.png") 0 0 no-repeat;
}
.court_80 .cp-container .cp-fallback {
	background:url("img_80/progress_sprite.jpg") no-repeat;
	background-position:0 78px; 
}
.court_80 .cp-progress-1,
.court_80 .cp-progress-2 {
	background:url("img_80/progress.png") 0 0 no-repeat;
}
.court_80 .cp-buffer-holder,
.court_80 .cp-progress-holder,
.court_80 .cp-circle-control {
	width:78px;
	height:78px;
}
.court_80 .cp-buffer-holder,
.court_80 .cp-progress-holder {
	clip:rect(0px,78px,78px,39px);
}
.court_80 .cp-controls {
	padding:20px;
}
.court_80 .cp-controls li a{
	position:relative;
	display:block;
	width:38px;
	height:38px;
	text-indent:-9999px;
	z-index:1;
	cursor:pointer;
}
.court_80 .cp-controls .cp-play {
	background:url("img_80/controls.jpg") 0 0 no-repeat;
}
.court_80 .cp-controls .cp-play:hover {
	background:url("img_80/controls.jpg") -38px 0 no-repeat;
}
.court_80 .cp-controls .cp-pause {
	background:url("img_80/controls.jpg") 0 -38px no-repeat;
}
.court_80 .cp-controls .cp-pause:hover {
	background:url("img_80/controls.jpg") -38px -38px no-repeat;
}

.court_80 .cp-control-next,
.court_80 .cp-control-prev {
	position:absolute;
	background:url("img_80/bouton.png") no-repeat;
	width:40px; height:40px;
}
.court_80 .cp-control-prev { left:-50px; }
.court_80 .cp-control-next { left:90px; }

.court_80 .cp-controls li .cp-prev,
.court_80 .cp-controls li .cp-next {
	width:25px; height:16px;
	margin-top:12px;
	margin-left:6px;
}
.court_80 .cp-controls li .cp-prev {
	background:url("img_80/controls_next.png") 0 -16px no-repeat;
}
.court_80 .cp-controls li .cp-prev:hover {
	background:url("img_80/controls_next.png") -25px -16px no-repeat;
}
.court_80 .cp-controls li .cp-next {
	background:url("img_80/controls_next.png") 0 0 no-repeat;
	margin-left:8px;
}
.court_80 .cp-controls li .cp-next:hover {
	background:url("img_80/controls_next.png") -25px 0 no-repeat;
}
