
<script type="text/javascript">
$(document).ready(function(){
	/*
	 * Instance CirclePlayer inside jQuery doc ready
	 *
	 * CirclePlayer(jPlayerSelector, media, options)
	 *   jPlayerSelector: String - The css selector of the jPlayer div.
	 *   media: Object - The media object used in jPlayer("setMedia",media).
	 *   options: Object - The jPlayer options.
	 *
	 * Multiple instances must set the cssSelectorAncestor in the jPlayer options. Defaults to "#cp_container_1" in CirclePlayer.
	 */
	var myCirclePlayer = new CirclePlayer("#jquery_jplayer_1", chanson, {
		cssSelectorAncestor: "#cp_container_1",
		supplied: "oga, mp3, wav",
		swfPath: "[(#CHEMIN{javascript/Jplayer.swf}|url_absolue)]",
	});


});
</script>

<!-- The jPlayer div must not be hidden. Keep it at the root of the body element to avoid any such problems. -->
<div id="jquery_jplayer_1" class="cp-jplayer"></div>

<!--
	The container for the interface can go where you want to display it.
	Show and hide it as you need.
-->
<div class='jplayer-container'>
<div id="cp_container_1" class="cp-container court_80">
	<div class="cp-buffer-holder"> <!-- .cp-gt50 only needed when buffer is > than 50% -->
		<div class="cp-buffer-1"></div>
		<div class="cp-buffer-2"></div>
	</div>
	<div class="cp-progress-holder"> <!-- .cp-gt50 only needed when progress is > than 50% -->
		<div class="cp-progress-1"></div>
		<div class="cp-progress-2"></div>
	</div>
	<div class="cp-circle-control"></div>
	<ul class="cp-controls">
		<li><a class="cp-play" tabindex="1">play</a></li>
		<li><a class="cp-pause" style="display:none;" tabindex="1">pause</a></li> <!-- Needs the inline style here, or jQuery.show() uses display:inline instead of display:block -->
	</ul>
</div>
</div>
