
<script type="text/javascript">
$(document).ready(function(){
	if (typeof MM_Playlist == 'undefined') {
		window.console && console.log('Jplayer/MM_Playlist scripts js non chargés.');
		return false;
	}

	playlist = new MM_Playlist(medias);

	myCirclePlayer = new CirclePlayer("#jquery_jplayer_multi", playlist.current(), {
		cssSelectorAncestor: "#cp_container_multi",
		supplied: "oga, mp3, wav",
		// Fix for some older Andriod phones.
		swfPath: "[(#CHEMIN{javascript/Jplayer.swf}|url_absolue)]",
		cssSelector: {
			next: ".cp-next",
			prev: ".cp-prev",
			title: ".cp-title"
		},
		ready: function(info){
			var self = this;
			btn_next = info.jPlayer.options.cssSelectorAncestor + ' ' + info.jPlayer.options.cssSelector.next;
			$(btn_next).click(function() {
				if (media = playlist.next()) {
					myCirclePlayer.setMedia( media );
					myCirclePlayer.play();
				} else {

				}
			});
			btn_prev = info.jPlayer.options.cssSelectorAncestor + ' ' + info.jPlayer.options.cssSelector.prev;
			$(btn_prev).click(function() {
				if (media = playlist.prev()) {
					myCirclePlayer.setMedia( media );
					myCirclePlayer.play();
				} else {

				}
			});
		},
		ended: function(info){
			// effacer le texte
			$title = $(info.jPlayer.options.cssSelectorAncestor + ' ' + info.jPlayer.options.cssSelector.title);
			$title.fadeTo(500, 0, function() {
				$title.html("");
			});

			if (media = playlist.next()) {
				myCirclePlayer.setMedia( media );
				myCirclePlayer.play();
			} else if (media = playlist.reset()) {
				myCirclePlayer.setMedia( media );
			}
		},
		play: function(info) {
			title = info.jPlayer.status.media.title;
			if (typeof title == "undefined") title = "";

			debute = !info.jPlayer.status.currentTime;
			$title = $(info.jPlayer.options.cssSelectorAncestor + ' ' + info.jPlayer.options.cssSelector.title);

			if (debute) {
				$title.fadeTo(500, 0, function() {
					$title
						.html("<span class='title'>" + title + "</span>")
						.fadeTo(500, 1);
				});
			} else {
				$title.fadeTo(200, 1);
			}
		},
		pause: function(info) {
			$title = $(info.jPlayer.options.cssSelectorAncestor + ' ' + info.jPlayer.options.cssSelector.title);
			$title.fadeTo(200, 0.6);
		}
	});

});
</script>

<!-- The jPlayer div must not be hidden. Keep it at the root of the body element to avoid any such problems. -->
<div id="jquery_jplayer_multi" class="cp-jplayer"></div>

<!--
	The container for the interface can go where you want to display it.
	Show and hide it as you need.
-->
<div class='jplayer-container'>
<div id="cp_container_multi" class="cp-container court_80">
	<div class="cp-buffer-holder"> <!-- .cp-gt50 only needed when buffer is > than 50% -->
		<div class="cp-buffer-1"></div>
		<div class="cp-buffer-2"></div>
	</div>
	<div class="cp-progress-holder"> <!-- .cp-gt50 only needed when progress is > than 50% -->
		<div class="cp-progress-1"></div>
		<div class="cp-progress-2"></div>
	</div>
	<div class="cp-circle-control"></div>
	<ul class="cp-controls">
		<li><a class="cp-play" tabindex="1">play</a></li>
		<li><a class="cp-pause" style="display:none;" tabindex="1">pause</a></li> <!-- Needs the inline style here, or jQuery.show() uses display:inline instead of display:block -->
		<li class='cp-control-next'><a class="cp-next" tabindex="2">previous</a></li>
		<li class='cp-control-prev'><a class="cp-prev" tabindex="3">next</a></li>
	</ul>
	<div class="cp-title"></div>
</div>
</div>
